<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Defensive Stats
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
      		<table class="table table-striped">
				<thead>
					<tr><th class="center" colspan='11'>Defensive</th></tr>
					<tr>
						<th>Year</th>
						<th>Team</th>
						<th>G</th>
						<th>Comb</th>
						<th>Solo</th>
						<th>Ast</th>
						<th>Sck</th>
						<th>Sfty</th>
						<th>PDef</th>
						<th>Int</th>
						<th>TD</th>
					</tr>
				</thead>
				<tbody>
					<% player.season_defensive_stats.each  do |d| %>
						<tr>
							<td><%= d.year %></td>
							<td><%= d.team %></td>
							<td><%= d.g %></td>
							<td><%= d.comb %></td>
							<td><%= d.solo %></td>
							<td><%= d.ast %></td>
							<td><%= d.sck %></td>
							<td><%= d.sfty %></td>
							<td><%= d.pdef %></td>
							<td><%= d.int %></td>
							<td><%= d.td %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <svg style='height:200px; width: 555px' class='tackles' />
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <svg style='height:200px; width: 555px' class='sacks' />
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <svg style='height:200px; width: 555px' class='d-int' />
  </div>
</div>