<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Passing Stats
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
      		<table class="table table-striped">
				<thead>
					<tr><th class="center" colspan='17'>Passing</th></tr>
					<tr>
						<th>Year</th>
						<th>Team</th>
						<th>G</th>
						<th>Att</th>
						<th>Comp</th>
						<th>Pct</th>
						<th>Att/G</th>
						<th>Yds</th>
						<th>Avg</th>
						<th>Yds/G</th>
						<th>TD</th>
						<th>Int</th>
						<th>Lng</th>
						<th>20+</th>
						<th>40+</th>
						<th>Sck</th>
						<th>Rating</th>
					</tr>
				</thead>
				<tbody>
					<% player.season_passing_stats.each  do |pass| %>
						<tr>
							<td><%= pass.year %></td>
							<td><%= pass.team %></td>
							<td><%= pass.g %></td>
							<td><%= pass.att %></td>
							<td><%= pass.comp %></td>
							<td><%= pass.comp_perc %></td>
							<td><%= pass.att_p_g %></td>
							<td><%= pass.yds %></td>
							<td><%= pass.avg_pass %></td>
							<td><%= pass.yds_p_g %></td>
							<td><%= pass.td %></td>
							<td><%= pass.int %></td>
							<td><%= pass.lng %></td>
							<td><%= pass.twenty %></td>
							<td><%= pass.forty %></td>
							<td><%= pass.sck %></td>
							<td><%= pass.rating %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
      </div>
    </div>
  </div>
</div>

<svg style='height:200px' class='rating' />

<svg style='height:200px' class='passing-yds' />

<svg style='height:200px' class='passing-td' />

<svg style='height:200px' class='passing-yds-g' />

<svg style='height:200px' class='interception' />