<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Tabular Data
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
      		<table class="table table-striped table-responsive">
				<thead>
					<tr><td colspan='17'>Passing</td></tr>
					<tr>
						<td>Year</td>
						<td>Team</td>
						<td>G</td>
						<td>Att</td>
						<td>Comp</td>
						<td>Pct</td>
						<td>Att/G</td>
						<td>Yds</td>
						<td>Avg</td>
						<td>Yds/G</td>
						<td>TD</td>
						<td>Int</td>
						<td>Lng</td>
						<td>20+</td>
						<td>40+</td>
						<td>Sck</td>
						<td>Rating</td>
					</tr>
				</thead>
				<tbody>
					<% player.season_passing_stats.each  do |pass| %>
						<tr>
							<td><%= pass.year %></td>
							<td><%= pass.team %></td>
							<td><%= pass.g %></td>
							<td><%= pass.att %></td>
							<td><%= pass.comp %></td>
							<td><%= pass.comp_perc %></td>
							<td><%= pass.att_p_g %></td>
							<td><%= pass.yds %></td>
							<td><%= pass.avg_pass %></td>
							<td><%= pass.yds_p_g %></td>
							<td><%= pass.td %></td>
							<td><%= pass.int %></td>
							<td><%= pass.lng %></td>
							<td><%= pass.twenty %></td>
							<td><%= pass.forty %></td>
							<td><%= pass.sck %></td>
							<td><%= pass.rating %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
      </div>
    </div>
  </div>
</div>