<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Receiving Stats
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      		<table class="table table-striped">
				<thead>
					<tr><th class="center" colspan='13'>Receiving</th></tr>
					<tr>
						<th>Year</th>
						<th>Team</th>
						<th>G</th>
						<th>Rec</th>
						<th>Yds</th>
						<th>Avg</th>
						<th>Yds/G</th>
						<th>Lng</th>
						<th>TD</th>
						<th>20+</th>
						<th>40+</th>
						<th>1st</th>
						<th>Fum</th>
					</tr>
				</thead>
				<tbody>
					<% player.season_receiving_stats.each  do |rec| %>
						<tr>
							<td><%= rec.year %></td>
							<td><%= rec.team %></td>
							<td><%= rec.g %></td>
							<td><%= rec.rec %></td>
							<td><%= rec.yds %></td>
							<td><%= rec.avg_rec %></td>
							<td><%= rec.yds_p_g %></td>
							<td><%= rec.lng %></td>
							<td><%= rec.td %></td>
							<td><%= rec.twenty %></td>
							<td><%= rec.forty %></td>
							<td><%= rec.first %></td>
							<td><%= rec.fum %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <svg style='height:200px; width: 555px' class='receiving-yds' />
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <svg style='height:200px; width: 555px' class='receiving-td' />
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <svg style='height:200px; width: 555px' class='receiving-yds-g' />
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <svg style='height:200px; width: 555px' class='receiving-avg' />
  </div>
</div>


