<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Rushing Stats
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
      		<table class="table table-striped">
				<thead>
					<tr><th colspan='14' class="center">Rushing</th></tr>
					<tr>
						<th>Year</th>
						<th>Team</th>
						<th>G</th>
						<th>Att</th>
						<th>Att/G</th>
						<th>Yds</th>
						<th>Avg</th>
						<th>Yds/G</th>
						<th>TD</th>
						<th>Lng</th>
						<th>1st</th>
						<th>20+</th>
						<th>40+</th>
						<th>Fum</th>
					</tr>
				</thead>
				<tbody>
					<% player.season_rushing_stats.each  do |rush| %>
						<tr>
							<td><%= rush.year %></td>
							<td><%= rush.team %></td>
							<td><%= rush.g %></td>
							<td><%= rush.att %></td>
							<td><%= rush.att_p_g %></td>
							<td><%= rush.yds %></td>
							<td><%= rush.avg_rush %></td>
							<td><%= rush.yds_p_g %></td>
							<td><%= rush.td %></td>
							<td><%= rush.lng %></td>
							<td><%= rush.first %></td>
							<td><%= rush.twenty %></td>
							<td><%= rush.forty %></td>
							<td><%= rush.fum %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
      </div>
    </div>
  </div>
</div>

<div class="graph">

<svg style='height:200px' class='rushing-yds' />

<svg style='height:200px' class='rushing-td' />

<svg style='height:200px' class='rushing-yds-g' />

<svg style='height:200px' class='rushing-avg' />

</div>