<%= render partial: "layouts/nav" %>
<div class='index-container'>
	<h1 class="color">Welcome to the NFL Database</h1>
	<%= form_for :player, url: "/players", method: :get do |f| %>
		<div class="form-group">
			<%= f.text_field :name, placeholder: "Search any player" %>
			<%= f.submit 'Search', class: 'btn btn-default btn-color' %>
		</div>
	<% end %>
	<p class='color fun'>Join the fun! <a  class='sign-up' data-toggle="modal" data-target="#signup" href='#'>click here</a></p>
</div>

<%= render 'layouts/modal' %>