<%= render 'layouts/nav' %>
<div class="player-info">
	<img src='<%= @player.img_url %>' class='player-pic' />
	<div class='color player'>
		<h1><%= @player.name %> <p><%= @player.position.name %> <%= @player.number %></p></h1>
		<h3>College: <%= @player.college %></h3>
		<h3><strong>Height:</strong> <%= @player.height %> <strong>Weight:</strong> <%= @player.weight %></h3>
	</div>
	<% if current_user.players.include? @player %>
	<%= button_to 'Remove', "/players/#{@player.nfl_id}", method: :delete, class: "btn btn-default btn-color btn-special" %>
	<% else %>
	<%= button_to 'Add Fav', "/players/#{@player.nfl_id}", method: :patch, class: "btn btn-default btn-color btn-special" %>
	<% end %>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <%= nav_tab_stat(@player.position.name).html_safe %>
</ul>

<% a = nav_tab_active(@player.position.name) %>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade <%= a[0] %>" id="passing">
  	<%= render partial: 'passing', locals: {player: @player} %></div>
  <div class="tab-pane fade <%= a[1] %>" id="rushing">
  	<%= render partial: 'rushing', locals: {player: @player} %></div>
  <div class="tab-pane fade <%= a[2] %>" id="receiving">
  	<%= render partial: 'receiving', locals: {player: @player} %></div>
  <div class="tab-pane fade <%= a[3] %>" id="defensive">
  	<%= render partial: 'defensive', locals: {player: @player} %></div>
</div>

<%= render 'layouts/modal' %>
