<%= render 'layouts/nav' %>
<h1><%= @player.name %> <p><%= @player.position.name %> <%= @player.number %></p></h1>
<h3>College: <%= @player.college %></h3>
<h3><strong>Height:</strong> <%= @player.height %> <strong>Weight:</strong> <%= @player.weight %></h3>
<img src='<%= @player.img_url %>'>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <%= nav_tab_stat(@player.position.name).html_safe %>
</ul>

<% a = nav_tab_active(@player.position.name) %>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade <%= a[0] %>" id="passing">
  	<%= render partial: 'passing', locals: {player: @player} %></div>
  <div class="tab-pane fade <%= a[1] %>" id="rushing">
  	<%= render partial: 'rushing', locals: {player: @player} %></div>
  <div class="tab-pane fade <%= a[2] %>" id="receiving">
  	<%= render partial: 'receiving', locals: {player: @player} %></div>
  <div class="tab-pane fade <%= a[3] %>" id="defensive">
  	<%= render partial: 'defensive', locals: {player: @player} %></div>
</div>


