<h1><%= @player.name %> <p><%= @player.position.name %> <%= @player.number %></p></h1>
<h3>College: <%= @player.college %></h3>
<h3><strong>Height:</strong> <%= @player.height %> <strong>Weight:</strong> <%= @player.weight %></h3>
<img src='<%= @player.img_url %>'>

<table>
	<thead>
		<tr><td colspan='17'>Passing</td></tr>
		<tr>
			<td>Year</td>
			<td>Team</td>
			<td>G</td>
			<td>Att</td>
			<td>Comp</td>
			<td>Pct</td>
			<td>Att/G</td>
			<td>Yds</td>
			<td>Avg</td>
			<td>Yds/G</td>
			<td>TD</td>
			<td>Int</td>
			<td>Lng</td>
			<td>20+</td>
			<td>40+</td>
			<td>Sck</td>
			<td>Rating</td>
		</tr>
	</thead>
	<tbody>
		<% @player.season_passing_stats.each  do |pass| %>
			<tr>
				<td><%= pass.year %></td>
				<td><%= pass.team %></td>
				<td><%= pass.g %></td>
				<td><%= pass.att %></td>
				<td><%= pass.comp %></td>
				<td><%= pass.comp_perc %></td>
				<td><%= pass.att_p_g %></td>
				<td><%= pass.yds %></td>
				<td><%= pass.avg_pass %></td>
				<td><%= pass.yds_p_g %></td>
				<td><%= pass.td %></td>
				<td><%= pass.int %></td>
				<td><%= pass.lng %></td>
				<td><%= pass.twenty %></td>
				<td><%= pass.forty %></td>
				<td><%= pass.sck %></td>
				<td><%= pass.rating %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<table>
	<thead>
		<tr><td colspan='14'>Rushing</td></tr>
		<tr>
			<td>Year</td>
			<td>Team</td>
			<td>G</td>
			<td>Att</td>
			<td>Att/G</td>
			<td>Yds</td>
			<td>Avg</td>
			<td>Yds/G</td>
			<td>TD</td>
			<td>Lng</td>
			<td>1st</td>
			<td>20+</td>
			<td>40+</td>
			<td>Fum</td>
		</tr>
	</thead>
	<tbody>
		<% @player.season_rushing_stats.each  do |rush| %>
			<tr>
				<td><%= rush.year %></td>
				<td><%= rush.team %></td>
				<td><%= rush.g %></td>
				<td><%= rush.att %></td>
				<td><%= rush.att_p_g %></td>
				<td><%= rush.yds %></td>
				<td><%= rush.avg_rush %></td>
				<td><%= rush.yds_p_g %></td>
				<td><%= rush.td %></td>
				<td><%= rush.lng %></td>
				<td><%= rush.first %></td>
				<td><%= rush.twenty %></td>
				<td><%= rush.forty %></td>
				<td><%= rush.fum %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<table>
	<thead>
		<tr><td colspan='13'>Receiving</td></tr>
		<tr>
			<td>Year</td>
			<td>Team</td>
			<td>G</td>
			<td>Rec</td>
			<td>Yds</td>
			<td>Avg</td>
			<td>Yds/G</td>
			<td>Lng</td>
			<td>TD</td>
			<td>20+</td>
			<td>40+</td>
			<td>1st</td>
			<td>Fum</td>
		</tr>
	</thead>
	<tbody>
		<% @player.season_receiving_stats.each  do |rec| %>
			<tr>
				<td><%= rec.year %></td>
				<td><%= rec.team %></td>
				<td><%= rec.g %></td>
				<td><%= rec.rec %></td>
				<td><%= rec.yds %></td>
				<td><%= rec.avg_rec %></td>
				<td><%= rec.yds_p_g %></td>
				<td><%= rec.lng %></td>
				<td><%= rec.td %></td>
				<td><%= rec.twenty %></td>
				<td><%= rec.forty %></td>
				<td><%= rec.first %></td>
				<td><%= rec.fum %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<table>
	<thead>
		<tr><td colspan='11'>Defensive</td></tr>
		<tr>
			<td>Year</td>
			<td>Team</td>
			<td>G</td>
			<td>Comb</td>
			<td>Solo</td>
			<td>Ast</td>
			<td>Sck</td>
			<td>Sfty</td>
			<td>PDef</td>
			<td>Int</td>
			<td>TD</td>
		</tr>
	</thead>
	<tbody>
		<% @player.season_defensive_stats.each  do |d| %>
			<tr>
				<td><%= d.year %></td>
				<td><%= d.team %></td>
				<td><%= d.g %></td>
				<td><%= d.comb %></td>
				<td><%= d.solo %></td>
				<td><%= d.ast %></td>
				<td><%= d.sck %></td>
				<td><%= d.sfty %></td>
				<td><%= d.pdef %></td>
				<td><%= d.int %></td>
				<td><%= d.td %></td>
			</tr>
		<% end %>
	</tbody>
</table>