<h1><%= @player.name %> <p><%= @player.position.name %> <%= @player.number %></p></h1>
<h3>College: <%= @player.college %></h3>
<h3><strong>Height:</strong> <%= @player.height %> <strong>Weight:</strong> <%= @player.weight %></h3>
<img src='<%= @player.img_url %>'>