<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand color" href="/">NFLData</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search" action='/players' method='get'>
        <div class="form-group">
          <input type="text" name='player[name]' class="form-control" placeholder="Search any player">
        </div>
        <button type="submit" class="btn btn-default btn-color">Submit</button>
        <%= token_tag form_authenticity_token %>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><a class="color" href="#" class="dropdown-toggle" data-toggle="dropdown">Favs
                    <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% current_user.players.limit(5).each do |p| %>

                  <li><%= link_to p.name, "/players/#{p.nfl_id}", method: :get %></li>

                <% end %>
                <li class="divider"></li>
                <li><a href='/users/favorite'>All Players</a></li>
              </ul>
          </li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.first_name + " " + current_user.last_name %> 
              <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', '/sessions', method: :delete, class: 'color'  %></li>
          </ul></li>
        <% else %>
          <li><a class="color" data-toggle="modal" data-target="#signup" href="#">Sign Up</a></li>
          <li><a class="color" data-toggle="modal" data-target=".bs-modal-sm" href='#'>Sign In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>