<!DOCTYPE html>
<html>
<head>
  <title>NFL App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "players", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>

</head>
<body class="container">
<%if flash[:error]%>
	<h4 class='red center'><%= flash[:error] %></h4>
<% end %>
<%if flash[:success]%>
	<h4 class='green center'><%= flash[:success] %></h4>
<% end %>

<%= yield %>

</body>
</html>
