<!DOCTYPE html>
<html>
<head>
  <title>NFL App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <script src="d3.v3.js"></script>
  <script src="nv.d3.js"></script>
</head>
<body class="container">

<%= yield %>

</body>
</html>
